@charset "UTF-8";

/*-----------ALL------------*/

html {
  font-size: 62.5%;
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, p, a {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
  font-size: 1.6rem;
}

.container {
  margin-left: 23.4%;
  padding-left: 3.9%;
  margin-right: 3.9%;
}

.sns-icon {
  width: 22px;
  height: auto;
  display: none;
}

.toggle-sns {
  display: none;
}

/*----------HEADER-----------*/

header {
  position: fixed;
  left: 5.86%;
  z-index: 20;
}

nav {
  max-width: 240px;
  position: relative;
}

.nav {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 76.4vh;
}

nav a {
  font-family: 'Vollkorn', serif;
  width: 100%;
  font-size: 1.8rem;
  letter-spacing: 0.15em;
  transition: 0.6s;
}

nav a {
	padding-bottom: 1px; /* 文字と下線に隙間を作る */
}

nav a:after {
	content: '';
	width: 0;
	transition: all 0.3s ease;
	border-bottom: 1px solid #333333;
	display: block;
}

nav a:hover:after {
	width: 100%;
	border-bottom: 1px solid #333333;
}

.sns {
  margin-top: 30px;
}

.title {
  height: 23.6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ryosuke {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  letter-spacing: 0.19em;
  line-height: 1.7;
}

.ikeido {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  letter-spacing: 0.47em;
  line-height: 1.7;
}

.title p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0.11rem;
  line-height: 1.7;
}

/*----------TOGGLE-MENU-----------*/

.toggle {
  display: none;
  position: fixed;
  top: 40px;
  right: 3%;
  align-self: center;
  width: 42px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
}

.toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}

.toggle i:nth-child(1) {
  top: 0;
}
.toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.toggle i:nth-child(3) {
  bottom: 0;
}

.toggle.show i:nth-child(1) {
  transform: translateY(14.5px) rotate(-45deg);
  background-color: #333333;
}
.toggle.show i:nth-child(2) {
  opacity: 0;
}
.toggle.show i:nth-child(3) {
  transform: translateY(-14.5px) rotate(45deg);
  background-color: #333333;
}

.toggle-menu {
  position: fixed;
  width: 40%;
  height: 100vh;
  left: -100vw;
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform .6s;
  z-index: 20;
}

.toggle-menu a {
  font-family: 'Vollkorn', serif;
}

.toggle-menu.slide {
  transform: translateX(100vw);
}

.toggle-menu {
  padding: 9% ;
}

.toggle-menu a {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.15em;
  display: inline-block;
  margin-top: 70px;
}

/*-----------TOP-----------*/

.top {
  margin-left: 23.4%;
  height: auto;
  text-align: center;
}

.top-picture {
  width: 100%;
  height: 76.4vh;
  object-fit: cover;
}

.line {
  margin-left: 3.9%;
  margin-right: 3.9%;
}

.span {
  margin: 35px auto 80px auto ;
  width: 1px;
  height: 110px;
  background-color: #CECECE;
}

/*----------ABOUT------------*/

.about {
  margin-bottom: 120px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15%;
}

.about-content img {
  width: 100%;
  object-fit: cover;
}

.about-text {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 30px 0 50px 0;
  text-align: center;
}

.name {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.heading {
  display: inline-block;
  position: relative;
  padding-top: 70px;
  padding-left: 40px;
}

.heading span {
  position: relative;
  z-index: 0;
}

.heading::before {
  content: attr(date-en);
  position: absolute;
  transform: rotate(-5deg);
  top: 0;
  left: 0;
  color: #e5c046;
  font-size: 9rem;
  font-weight: 400;
  font-family: 'Mrs Saint Delafield', cursive;
  letter-spacing: 0.05em;
}

.name-jp {
  font-size: 1.8rem;
  letter-spacing: 0.35em;
  margin-right: 10px;
  font-weight: 500;
}

.name-en {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.06em;
  padding-bottom: 0.9rem;
}

.about-description p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 1.7;
}

.about-career {
  margin-bottom: 20px;
}

/*----------CONTACT-----------*/

.contact {
  text-align: center;
  margin-bottom: 170px;
}

.contact h2 {
  font-family: 'Vollkorn', serif;
  font-size: 2.6rem;
  letter-spacing: 0.35em;
  margin-bottom: 50px;
}

.contact p {
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  line-height: 1.7;
  margin-bottom: 90px;
}

.mail {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #5C879D;
  border-radius: 45px;
}

.mail-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 36px;
  color: white;
  object-fit: contain;
  vertical-align: top;
}

/*-----------TOP-WORKS-----------*/

.top-works {
  padding-top: 80px;
  margin-left: 23.4%;
  height: auto;
}

.top-picture-works {
  width: 100%;
  height: 36.4vh;
  object-fit: cover;
}

/*---------WORKS----------*/

.works {
  width: auto;
  margin-top: 100px;
  text-align: center;
}

.works-container {
  margin-left: 23.4%;
  padding-left: 10.5%;
  margin-right: 10.5%;
}

.works h2 {
  font-family: 'Vollkorn', serif;
  font-size: 3.6rem;
  letter-spacing: 0.6em;
  font-weight: 600;
  margin-bottom: 120px;
}

.works-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
}

.works-content a {
  transition: 0.6s;
}

.works-content a:hover {
  opacity: 0.7;
}

.works-content img {
  width: 100%;
}

.works-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-top: 40px;
  margin-bottom: 15px;
}

.tools {
  font-family: 'Vollkorn', serif;
  color: #969797;
}

.description {
  margin-top: 30px;
  letter-spacing: 0.15em;
}

/*---------SKILL----------*/

.skill {
  margin-top: 180px;
  text-align: center;
  margin-bottom: 120px;
}

.skill h2 {
  font-family: 'Vollkorn', serif;
  font-size: 3.6rem;
  letter-spacing: 0.6em;
  font-weight: 600;
  margin-bottom: 100px;
}

.skill-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.skill-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.skill-content img {
  width: 60px;
  height: auto;
  object-fit: contain;
}

.skill-text {
  margin-left: 25px;
  text-align: left;
}

.skill-title {
  font-family: 'Vollkorn', serif;
  font-size: 1.7rem;
  letter-spacing: 0.08em;
  margin-bottom: 4px;
}

.skill-description {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.7;
  padding-left: 2px;
}

/*----------PHOTOGRAPY----------*/

.photograpy {
  margin-left: 23.4%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
}

.grid a {
  overflow: hidden;
  transition: 0.7s;
}

.grid-content {
  position: relative;
  text-align: center;
  height: 50vh;
}

.grid-content h3:hover {
  opacity: 1;
}

.grid-content img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.grid-content h3 {
  font-family: 'Vollkorn', serif;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.6rem;
  letter-spacing: 0.25em;
  font-weight: 300;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: 0.8s ease;
}

.photograpy-menu {
  display: flex;
  gap: 25px;
  padding-top: 8.2%;
}

.photograpy-menu a {
  font-family: 'Vollkorn', serif;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}

.photograpy-grid {
  width: 100%;
  margin-top: 55px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  gap: 20px;
}

.item {
  height: 100%;
}

.item1 {
  grid-row: span 2;
}

.item2 {
}

.item3 {
  grid-row: span 2;
}

.item4 {
  grid-column: 1/2;
}

.item5 {
  grid-row: span 2;
}

.item6 {
}

.up-width,.up-height {
  height: 100%;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item img:hover {
  opacity: 0.6;
  transition: 0.4s;
}

#bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

#photo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 85vh;
  object-fit: cover;
  z-index: 20;
}

/*-----------FOOTER-----------*/

footer {
  position: relative;
  text-align: center;
  height: 140px;
  background-image: url("../img/works.jpg");
  background-position: center;
  background-size: cover;
  margin-left: 23.4%;
  margin-right: auto;
}

.footer-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  margin-right: 5.86%;
}

.footer-contents p {
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
}

/*---------PHOTOGRAPY-FOOTER----------*/

.photograpy-footer {
  text-align: center;
  margin-top: 5px;
}

.photograpy-footer p {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}
